* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

#lesson {
    width: 100dvw;
    height: 100dvh;
}

#lesson header {
    background: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lesson header .textLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

#lesson header .textLogo img {
    height: 49px;
}

#lesson header .textLogo h1 {
    font-size: 48px;
    color: #1CB0F6;
    font-weight: 900;
}

#lesson header a {
    color: black;
    text-decoration: none;
    font-size: 32px;
}

#lesson main {
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    
}

#lesson main .lessonQuestion h1 {
    font-size: 64px;
    font-weight: 900;
}

#lesson main .answers {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}

#lesson main .answers a {
    text-decoration: none;
    background: #1CB0F6;
    border-radius: 35px;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 56px;
    cursor: pointer;
    box-shadow: 0 10px 0 #168ec5; 
}

#lesson main .answers a:active {
    transform: translateY(6px);
    box-shadow: 0 5px 0 #168ec5; 
}

#lesson main .answers a.wrong {
    background: #ff0000;
    box-shadow: 0 10px 0 #ad0000; 
}

#lesson main .answers a.correct {
    background: #58cc02;
    box-shadow: 0 10px 0 #49a502; 
}


@media (max-width: 2150px) {
    #lesson main .answers {
        width: 50%;
        gap: 25px;
    }

    #lesson main .answers a {
        font-size: 48px;
        padding: 20px;
    }

    #lesson main {
        padding-left: 5%;
    }

    #lesson main {
        gap: 50px;
    }
}

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {
    #lesson main {
        padding-left: 25px;
    }

    #lesson main .answers {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-right: 25px;
        padding-bottom: 50px;
    }
}

@media (max-width: 1000px) {
    #lesson main .answers {
        grid-template-columns: 1fr;
    }

    #lesson main .lessonQuestion h1 {
        font-size: 48px;
        text-align: center;
    }

    #lesson main .answers a {
        font-size: 36px;
    }
}

@media (max-width: 500px) {
    body {
        height: 100dvh;
    }

    #lesson main{
        padding-top: 50px;
        height: 100%;
        align-items: center;
    }
}